{{outlet}}
<div class="container h-100">
	<div class="htop">
		<h2 class="text-center">Спикеры</h2>
		<div class="form-row navbar-panel justify-content-between">
      {{#if session.isAuthenticated}}
      {{#link-to "create-speaker"}}
			<div class="col-md-auto">
				<button class="btn btn-outline-primary my-2" type="button" title="Добавить спикера">
					<svg viewBox="0 0 16 16" class="bi bi-plus card-button" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
					</svg>
				</button>
			</div>
      {{/link-to}}
      {{/if}}
			<div class="col-md-auto">
				<form class="form-inline">
          {{input type="text" placeholder="ФИО" class="form-control mr-2 search-long search-only" aria-label="Спикер" input=(action "refreshSpeakers") value=searchValue}}
					{{!-- <button class="btn btn-primary my-2" onclick={{action "refreshSpeakers"}}>Найти</button> --}}
				</form>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-md-3">
      {{#each model as |speaker|}}
			  <div class="col mb-4">
			    <div class="card">
			  		<img src="{{env 'rootURL'}}images/speaker.jpg" class="card-img-top" alt="Фото спикера">
			  		<div class="card-body">
			  	  	<h5 class="card-title">{{get-speaker-name speaker.firstName speaker.lastName}}</h5>
			  		</div>
			  		<div class="card-footer">
			  			<div class="row">
                {{#if (await (can "edit speaker" speaker))}}
			  				<div class="col">
			  				</div>
			  				<div class="col text-right">
                  <button type="button" class="btn btn-edit">{{speaker-item idSpeaker=speaker.id}}</button>
			  					<button type="button" class="btn btn-trash" onclick={{action "deleteSpeaker" speaker}}>
			  						<svg viewBox="0 0 16 16" class="bi bi-trash card-button" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			  							<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
			  							<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
			  						</svg>
			  					</button>
			  				</div>
                {{/if}}
			  			</div>
			  	 	</div>
			    </div>
			  </div>
      {{/each}}
		</div>
	</div>
</div>